.button-container {
  background: var(--gradient-horizontal) !important;
  border-radius: 50px;
  overflow: hidden;
}

.button-container button {
  background-color: transparent;
  color: var(--primary-bg);
  padding: 8px 36px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: "Alumni Sans", sans-serif;
  letter-spacing: 1px;
}

.button-container.light {
  background: linear-gradient(90deg, #c0c0c0 0%, #ededed 100%) !important;
}

.button-container.light button {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
