.destination {
  padding: 50px 0;
}

.destination .mySwiper {
  padding: 50px 0;
  margin-top: -50px;
}

.destination .trip-card {
  max-width: fit-content;
  border: 1px solid black;
  padding: 14px;
  border: 1px solid #00398a;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.destination .trip-card .image img {
  width: 100%;
}

.destination .trip-card .card-body {
  padding: 10px 10px 0;
}

.destination .trip-card .card-body .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.destination .trip-card .card-body .card-header .card-title {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
}

.destination .trip-card .card-body .card-header .price {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 600;
}

.destination .trip-card .card-body .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination .trip-card .card-body .card-bottom .card-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.destination .trip-card .card-body .card-bottom .card-action {
  position: relative;
  width: 24px;
  height: 24px;
  background: var(--gradient-horizontal);
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.destination .trip-card .card-body .card-bottom .card-action .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
}

@media screen and (max-width: 992px) {
  .destination .trip-card .card-body .card-header .card-title {
    font-size: 30px;
  }

  .destination .trip-card .card-body .card-header .price {
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  .destination .mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .destination .trip-card .card-body {
    padding-top: 20px;
  }

  .destination .trip-card .card-body .card-header {
    margin-bottom: 10px;
  }

  .destination .trip-card .card-body .card-header .card-title {
    font-size: 28px;
  }
}
