.destinations-page {
  padding: 50px 0;
}

.destinations-page .destinations-content {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .destinations-page .destinations-content {
    grid-template-columns: repeat(3, 290px);
  }
}

@media screen and (max-width: 992px) {
  .destinations-page .destinations-content {
    grid-template-columns: repeat(3, 220px);
    justify-items: center;
    gap: 20px;
  }

  .destinations-page .trip-card .card-body .card-header .card-title {
    font-size: 25px;
  }

  .destinations-page .trip-card .card-body .card-header .price {
    font-size: 20px;
  }

  .destinations-page .trip-card .card-body .card-bottom .card-subtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .destinations-page .destinations-content {
    grid-template-columns: repeat(2, minmax(100px, 300px));
  }

  .destinations-page .trip-card .card-body .card-header .card-title {
    font-size: 35px;
  }

  .destinations-page .trip-card .card-body .card-header .price {
    font-size: 24px;
  }

  .destinations-page .trip-card .card-body .card-bottom .card-subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 568px) {
  .destinations-page .destinations-content {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .destinations-page .trip-card .card-body {
    padding-top: 20px;
  }

  .destinations-page .trip-card .card-body .card-header {
    margin-bottom: 10px;
  }
}
