.contact {
  padding: 50px 0;
}

.contact .contact-content {
  display: flex;
  gap: 40px;
}

.contact .contact-content .contact-info {
  background: linear-gradient(
    to bottom,
    rgba(1, 81, 166, 0.1) 0%,
    rgba(16, 137, 211, 0.1) 100%
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 25px;
  border: 1px solid #00398a54;
  border-radius: 20px;
}

.contact .contact-content .contact-info h4 {
  font-size: 32px;
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 40px;
  text-align: center;
}

.contact .contact-content .contact-info .contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact .contact-content .contact-info .contact-item .icon {
  position: relative;
  background-color: var(--primary-bg);
  width: 50px;
  height: 50px;
  border: 1px solid #00398ab7;
  border-radius: 15px;
}

.contact .contact-content .contact-info .contact-item .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}

.contact .contact-content .contact-info .contact-item p {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 28px;
  font-weight: 600;
}

.contact .contact-content .contact-info > p {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
}

.contact .contact-content .contact-info .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.contact .contact-content .contact-info .social-media .social-icon {
  cursor: pointer;
  position: relative;
  background-color: var(--primary-bg);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 5px 8px -4px;
}

.contact .contact-content .contact-info .social-media .social-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact .contact-content .contact-form {
  max-width: 750px;
  background: linear-gradient(
    to bottom,
    rgba(1, 81, 166, 0.1) 0%,
    rgba(16, 137, 211, 0.1) 100%
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 25px;
  border: 1px solid #00398a54;
  border-radius: 20px;
  flex: 1;
}

.contact .contact-content .contact-form h4 {
  font-size: 32px;
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 40px;
  text-align: center;
}

.contact .contact-content .contact-form input,
.contact .contact-content .contact-form textarea {
  padding: 13px 27px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #00398a;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px 0;
}

.contact .contact-content .contact-form textarea {
  resize: vertical;
  min-height: 130px;
}

.contact .contact-content .contact-form input::placeholder {
  color: #333333ab;
}

.contact .contact-content .contact-form textarea::placeholder {
  color: #333333ab;
  font-family: "Alumni Sans", sans-serif;
  font-size: 28px;
}

.contact .contact-content .contact-form .button-container {
  width: fit-content;
  font-size: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .contact .contact-content {
    flex-direction: column-reverse;
  }

  .contact .contact-content .contact-info h4 {
    margin-bottom: 25px;
  }

  .contact .contact-content .contact-info .center-info {
    display: grid;
    justify-content: center;
  }

  .contact .contact-content .contact-info .contact-item .icon {
    width: 45px;
    height: 45px;
  }

  .contact .contact-content .contact-info .contact-item .icon img {
    width: 20px;
  }

  .contact .contact-content .contact-info .contact-item p {
    font-size: 24px;
  }

  .contact .contact-content .contact-info > p {
    margin-top: 10px;
  }

  .contact .contact-content .contact-info .social-media {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .contact .contact-content .contact-form input,
  .contact .contact-content .contact-form textarea {
    padding: 10px 15px;
    font-size: 15px;
  }

  .contact .contact-content .contact-form textarea::placeholder {
    font-size: 24px;
  }
}
