.hero {
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  background-image: url("/public/images/hero_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.hero .container .hero_text {
  max-width: 500px;
}

.hero .container .hero_text h1 {
  font-size: 64px;
  font-weight: bold;
  color: rgba(3, 3, 3, 0.8);
}

.hero .container .hero_text h1 span {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

.hero .container .hero_text p {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
}

.hero .container .hero_text .buttons {
  display: flex;
  gap: 15px;
}

.hero .container .hero_text .buttons button {
  font-size: 20px;
  font-weight: bold;
}

.hero .container .hero_image .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  max-width: 500px;
  height: 500px;
}

.hero .container .hero_image .gallery img {
  height: 100%;
  width: 100%;
}

.hero .container .hero_image .gallery .img1 {
  grid-row: span 3 / span 3;
}

.hero .container .hero_image .gallery .img2 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
}

.hero .container .hero_image .gallery .img3 {
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 3;
}

.hero .container .hero_image .gallery .img4 {
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
}
.hero .container .hero_image .gallery .img5 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 5;
}

@media screen and (max-width: 1200px) {
  .hero .container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .hero .container .hero_image .gallery {
    max-width: 390px;
    height: 450px;
  }
}

@media screen and (max-width: 991px) {
  .hero .container {
    justify-content: center;
  }

  .hero .container .hero_text {
    text-align: center;
  }

  .hero .container .hero_text .buttons {
    justify-content: center;
  }
  .hero .container .hero_image .gallery {
    display: none;
  }
}
