header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 57, 138, 0.2);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  width: 150px;
}

header .container nav ul {
  display: flex;
  gap: 40px;
}

header .container nav ul li {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
  font-size: 24px;
}

header .container .header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .container .header-actions .icon {
  cursor: pointer;
}

header .container .header-actions .icon img {
  width: 30px !important;
  cursor: pointer !important;
}
