.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.section-header .text h2 {
  font-size: 48px;
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-header .text p {
  font-size: 36px;
  font-weight: 500;
  color: #333333ef;
}

.section-header .more {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.section-header .more p {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: bold;
}

.section-header .more img {
  width: 15px;
}

@media screen and (max-width: 992px) {
  .section-header .text h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: 768px) {
  .section-header .text h2 {
    font-size: 40px;
  }
  .section-header .text p {
    font-size: 28px;
  }
}
