/* Thin 100 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight 200 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Light 300 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular 400 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium 500 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold 600 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold 700 */
@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold 800 */
/* @font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
} */

/* Black 900 */
/* @font-face {
  font-family: "Alumni Sans";
  src: url("/public/fonts/Alumni_Sans/AlumniSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/Alumni_Sans/AlumniSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
} */

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
