/* Thin 100 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight 200 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light 300 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular 400 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium 500 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold 600 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold 700 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold 800 */
@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black 900 */
@font-face {
  font-family: "AlumniSans";
  src: url("/public/fonts/Alumni_Sans/AlumniSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AlumniSans";
  src: url("/fonts/AlumniSans/AlumniSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
