:root {
  --primary-bg: #f7f9fc;
  --gradient-horizontal: linear-gradient(
    90deg,
    rgba(1, 81, 166, 1) 0%,
    rgba(0, 212, 255, 1) 150%
  );
  --gradient-vertical: linear-gradient(
    180deg,
    rgba(1, 81, 166, 1) 0%,
    rgba(16, 137, 211, 1) 150%
  );
}

/*============ Global Rules ============*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alumni Sans", sans-serif;
  min-height: 100vh;
  background: var(--primary-bg);
}

/* body h1 {
  background: var(--primary-font-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

input,
button {
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.border {
  border: 3px solid red;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Small screens (tablets, > 768px) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screens (small laptops, > 992px) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens (desktops, > 1200px) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Extra large screens (large desktops, > 1400px) */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
