.auth-layout {
  padding: 100px 0;
}

.auth-layout .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-layout .container > img {
  width: 100px;
  margin-bottom: 10px;
}

.auth-layout .container .auth-form {
  padding: 20px;
  border: 5px solid #fff;
  border-radius: 40px;
  box-shadow: 0 30px 30px -20px rgba(1, 81, 166, 0.2);
}

.auth-layout .container .auth-form h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 25px 0;
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.auth-layout .container .auth-form form input {
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 13px 20px;
  box-shadow: 0 10px 10px -6px #cfe6ff;
  width: 270px !important;
}

.auth-layout .container .auth-form form input::placeholder {
  color: #aaaaaa;
}

.auth-layout .container .auth-form form a.forgot-password {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  letter-spacing: 0.3px;
  color: #0151a6;
}

.auth-layout .container .auth-form form .button-container {
  box-shadow: 0 20px 10px -15px rgba(1, 81, 166, 0.36);
  margin: 25px auto;
}

.auth-layout .container .auth-form form .button-container button {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.auth-layout .container .auth-form form a.auth-divider {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
}

.auth-layout .container .auth-form form .social-providers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.auth-layout .container .auth-form form .social-providers > div {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(112, 112, 112, 1),
    rgba(0, 0, 0, 1)
  );
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50px;
  box-shadow: 0 12px 10px -8px rgba(1, 81, 166, 0.45);
  cursor: pointer;
  transition: 0.2s;
}

.auth-layout .container .auth-form form .social-providers > div:hover {
  transform: translateY(-1px);
}

.auth-layout .container .auth-form form .social-providers > div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
}

.auth-layout .container .auth-form form .auth-switch span {
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #aaaaaa;
  font-weight: 600;
}

.auth-layout .container .auth-form form .auth-switch a {
  font-family: "Roboto", sans-serif;
  color: #0151a6;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .auth-layout .container > img {
    width: 80px;
  }

  .auth-layout .container .auth-form h2 {
    padding: 15px 0;
  }
}
