.features {
  padding: 50px 0;
}

.features .features-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 450px));
  justify-content: center;
  gap: 40px;
}

@media screen and (max-width: 576px) {
  .features .features-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
