.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  border: 1px solid #00398a54;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(1, 81, 166, 0.1) 0%,
    rgba(16, 137, 211, 0.1) 100%
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card .text {
  max-width: 250px;
}

.card .text h3 {
  background: var(--gradient-horizontal);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 32px;
  margin-bottom: 10px;
}

.card .text p {
  color: #333333be;
  font-size: 25px;
  font-weight: 600;
}

.card .icon img {
  width: 82px;
}

.card .icon img.dollar {
  width: 50px;
}

@media screen and (max-width: 576px) {
  .card {
    justify-content: center;
  }
  .card .text {
    max-width: initial;
  }
  .card .text h3 {
    margin-bottom: 15px;
  }
  .card .text p {
    line-height: 1.4;
  }
}
